
h1{
  	color:white;
	font-family: 'Cabin Sketch', cursive;
	font-size:50px;
	line-height: 10px;
}
h2{
  	color:black;
	font-family: 'Pacifico', cursive;
	line-height: 30px;
	font-size:22px;
}
p.mur{
	text-align:right;
}
 body.bg{
	height:1000px;
	margin-top:0px;
	background: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}
#sty1{
	color:white;
	font-family: 'Cabin Sketch', cursive;
	font-size:50px;
	line-height: 10px;
	line-height: 0px;
}
.blight{
	text-shadow:0px 0px 15px #00FFFF,0px 0px 50px #00E0E0,0px 0px 75px #1F2AF4;
	color:white;
}
/*		這是內文排版的格式		*/
.bigdiv{
	padding-top:10px;
	padding-bottom:10px;
	padding-left:15%;
	padding-right:15%;
}
.picbox{
	width:500px;
	height:100px;
	background-repeat:no-repeat;
}
.picwin{
	background-image:src(/images/abyssky.png);
}
