#container{
	height:device-height;
	width:device-width;
	background:#B57EDC;
}
.result{
	color:#FFFFFF;
	font-size: 100px;
	width:device-width;
	text-align:center;
}
#imgSty{
	margin:auto;
	width:device-width;
}