#container{
	margin:auto;
	height:device-height;
	width:device-width;
}
/* 目前有4個背景配色 */
.bg-lvdr{
	background:#B57EDC;
}
.bg-drtaq{
	background:#00E0E0;
}
.bg-wsab{
	background:#97DD27;
}
.bg-blywd{
	background:#DEB887;
}
/* 目前有2種按鈕 */
.sbmBtn{
	width:60px;
	height:35px;
	border:5px #FFFFFF double;
	border-radius:40%;
	background:transparent;
	font-family:'微軟正黑體';
	font-weight: 700;
	font-size:20px;
}
.littleBtn{
	width:20px;
	height:20px;
	border:2px #FFFFFF dashed;
	display:inline;
	border-radius:50%;
}
h1.result{
	margin:auto;
	color:#FFFFFF;
	font-size: 70px;
	width:device-width;
	text-align:right;
}
#imgSty{
	margin:auto;
	height:device-height;
	width:device-width;
}