#container{
	margin:auto;
	height:device-height;
	width:device-width;
}
.bg-lvdr{
	background:#B57EDC;
}
.bg-drtaq{
	background:#00E0E0;
}
.bg-wsab{
	background:#97DD27;
}
.littleBtn{
	width:20px;
	height:20px;
	border:2px #FFFFFF dashed;
	display:inline;
	border-radius:50%;
}
h1.result{
	margin:auto;
	color:#FFFFFF;
	font-size: 100px;
	width:device-width;
	text-align:right;
}
#imgSty{
	margin:auto;
	height:device-height;
	width:device-width;
}